extends layout

block content
  .hero-unit.welcome
    h1 Bits n Bytes
    p A place to keep those very important tid bits handy. Any information that needs to be recalled quickly can be stored and quickly retrieved!
    p
      a.btn.btn-primary.btn-large(href='/auth/google') Google OpenID Authentication »
