extends layout

block content
  .hero-unit.welcome
    h1 Bits n Bytes
    p A place to keep those very important tid bits handy. Information that you need to quickly recall can be stored and retrieved in just a few short clicks!
    p
      a.btn.btn-primary.btn-large(href='/auth/google') Google OpenID Authentication »
