extends layout

block content
  .hero-unit
    h1 Install Now
    p In order to use the Copy feature in Chrome, you will need to install this plugin.
    p
      a.btn.btn-primary(href='/bits-n-bytes.crx') Install Plugin
    p Only Chrome is supported at this time.