body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url('/images/polaroid.png');
}

.welcome {
  text-align: center;
  box-shadow: 0px 0px 3px #bababa;
  border: 1px solid #EDEDED;
}

ul.nav.nav-list {
  max-height: 650px;
  overflow-y: scroll;
  
}

.hero-unit {
  background-color: rgba(200, 200, 200, .5);
  box-shadow: 0px 0px 3px #BABABA;
  border: 1px solid #EDEDED;
}

hr {
  border-color: #CCC;
  box-shadow: -1px 0 1px rgba(82, 168, 236, 0.6);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #05C;
  border-radius: 5px;
}