body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url('/images/polaroid.png');
}

.welcome {
  text-align: center;
  box-shadow: 0px 0px 3px #bababa;
  border: 1px solid #EDEDED;
}

ul.nav.nav-list {
  max-height: 675px;
  overflow-y: scroll;
  
}

.hero-unit {
  background-color: rgba(200, 200, 200, .5);
  box-shadow: 0px 0px 3px #BABABA;
  border: 1px solid #EDEDED;
}

hr {
  border-color: #CCC;
  box-shadow: -1px 0 1px rgba(82, 168, 236, 0.6);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #05C;
  border-radius: 5px;
}

.github-repo {
  position: relative;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #333;
  background: url("/images/Octocat.png") no-repeat right bottom;
}
.github-repo a {
  text-decoration: none;
}
.github-repo a:hover {
  text-decoration: underline;
}
.github-repo .repo-header {
  background: rgba(240,240,240,0.7);
}
.github-repo .repo-header .repo-stats {
  font-size: 12px;
  float: right;
  margin: 5px 10px 0 0;
  line-height: 20px;
}
.github-repo .repo-header .repo-stats span,
.github-repo .repo-header .repo-stats a {
  padding-right: 5px;
  padding: 0 5px 0 25px;
  color: #000;
}
.github-repo .repo-header .repo-stats .repo-watchers {
  background: url("/images/repostat.png") no-repeat;
  background-position: 5px -5px;
}
.github-repo .repo-header .repo-stats .repo-forks {
  background: url("/images/repostat.png") no-repeat;
  background-position: 5px -55px;
}
.github-repo .repo-header .repo-stats .repo-twitter {
  float: right;
  margin-left: 5px;
}
.github-repo .repo-header .repo-name {
  padding: 5px 10px;
  font-size: 18px;
  letter-spacing: 2px;
  display: block;
}
.github-repo .repo-commit {
  padding: 10px;
}
.github-repo .repo-commit .repo-commit-message {
  color: #000;
}
.github-repo .repo-commit .repo-commit-date {
  display: block;
  margin-top: 10px;
  letter-spacing: 0;
  font-style: italic;
  font-size: 12px;
  color: #333;
}