li(data-id=post._id.toHexString())
  a.show(href=pathFor(post, { format: 'json' }), data-remote)
    | #{post.title}
  p.btn-group
    a.star.btn.btn-mini(href='/posts/' + post._id + '/toggle', data-remote, data-method='put', data-type='html')
      if post.star
        i.icon-star
      else
        i.icon-star-empty
    a.edit.btn.btn-mini(href='/posts/' + post._id + '/edit')
      i.icon-edit
      | edit
    a.delete.btn.btn-mini(href='/posts/' + post._id, data-remote, data-confirm="Are you sure?", data-method='delete', data-type='html')
      i.icon-trash
      | delete