extends ../layout

block content
  .row-fluid.show-grid
    .well.span3
      p
        a.btn.btn-primary(href='/posts/new')
          i.icon-plus.icon-white
          |  Add a Note
      ul#notes.nav.nav-list
        li.nav-header Notes
        if posts
          != partial('_post', posts);
    .span9
      .hero-unit
        h2 Preview
      p
        button.btn.btn-primary.btn-large#copyText Copy
      textarea.uneditable-textarea.span12#description(rows='20', readonly)
