extends ../layout

block nav
  nav
    a.button(href='/posts/new') New
    h2 Select one
    ul#presets
      != partial('_post', posts);
block content
  section
    h2 Preview
    button#copy-button Copy
    textarea#description(disabled)
    a(href='/logout') Logout
