extends layout

block content
  .hero-unit
    h1 Bit n Bytes
    .row
      p A notes template keeping app. I use it at my IT Help Desk job.
      p This app was written by TJ Peden and utilizes the Express framework for node.js.
  .row
    p.span3
      img(src='/images/node_logo.png')
  .row
    #express-resource-new