!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Bits n Bytes
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    script(src='/javascripts/libs/modernizr-2.5.3.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.i-bar
              i.icon-chevron-down.icon-white
          a.brand(href='#') Bits n Bytes
          if
          .nav-collapse
            ul.nav
              li
                a(href='/posts') Notes
              li
                a(href='/about') About
            ul.nav.pull-right
              li
                a(href='/install') Install App
              li
                a(href='/logout') Logout
    .container
      block content
      hr
      footer
        p &copy;2012 TJ Coding
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script
      window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.7.2.min.js"><\\/script>')
    script(src='/javascripts/libs/bootstrap.min.js')
    script(src='/javascripts/plugins.js')
    script(src='/javascripts/script.js')