extends layout

block content
  section
    h2 Hotswap Ticket
    div
      select#location
        option CHOOSE ONE
        option(value='dslocal') DS OKCHP
        option(value='dslocal') DS KCHP1
        option(value='dslocal') DS KCHP2
        option(value='dslocal') DS KC NP LOCAL
        option(value='dslocal') DS BLO
        option(value='dslocal') DS CAT
        option(value='dslocal') DS LA HO LOCAL
        option(value='dslocal') DS DAVIE LOCAL
        option(value='dslocal') DS BREA/ORANGE LOCAL
        option(value='dslocal') DS WESTLAKE LOCAL
        option(value='dslocal') DS WILMINGTON LOCAL
        option(value='dslocal') DS AGOURA LOCAL
        option(value='dslocal') DS LMHP
        option(value='hotswap') OTHER
    #hotswap.hide
      p send to DS EXCH HS
    #dslocal.hide
      p Send to local desktop group